@charset"utf-8";

html{
	background:url(../dark_green.jpg) 100%/ cover;
}

body{
	background: rgb(107, 88, 151);
	margin-left:10%;
	margin-right:10%;
	margin-top:0px;
	margin-bottom:0px;
	box-shadow:inset 20px 0px 80px rgb(87,67,131),
						inset -20px -0px 80px rgb(87,67,131);
}
header{
	background: url(../banner.png);
	height:200px;
}

header h1{
	color:gold;
	font-family: 'Cinzel Decorative', cursive;
	font-size:4em;
	padding:40px;
}


/*Header Navigation Style Section*/


nav{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:50px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color:#333;
}

nav ul li{
	float:left;
}

nav ul li a{
	display: block;
	color:white;
	text-align:center;
	padding:14px 20px;
	text-decoration:none;
}
.active{
	background-color:rgb(0, 102, 0);
}

nav ul li a:hover{
	background-color:black;
}


/*----Table Styles Section----*/


table{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border: 2px solid black;
	border-collapse:collapse;
	background-color:rgba(40, 40, 40, .7);
	color:white;
	
}
td,th{
border: 2px solid black;
}
tbody tr td img{
	width:250px;
}
thead tr{
	background-color:rgb(40, 40, 40);
	height:50px;
}
tbody th{
	background-color:rgb(60,60,60);
	text-align:center;
}
tfoot{
	background-color:black;
	text-align:center;
	padding:20px;
	margin:10px;
	font-size:1.3em;
}
.partner{
	text-align:center;
}
	