@charset"utf-8";

@media only screen and (min-width:481px){
html{
	background:url(../dark_green.jpg) 100%/ cover;
}

body{
	background: rgb(107, 88, 151);
	margin-left:10%;
	margin-right:10%;
	margin-top:0px;
	margin-bottom:0px;
	box-shadow:inset 20px 0px 80px rgb(87,67,131),
						inset -20px -0px 80px rgb(87,67,131);
}
header{
	background: url(../banner.png);
	height:20%;
}

header h1{
	color:gold;
	font-family: 'Cinzel Decorative', cursive;
	font-size:300%;
	padding:4%;
	line-height:1em;
}

aside{
	padding-left:5%;
	padding-right:10%;
	padding-top:5%;
	line-height:2em;
}

aside img{
	width:20%;
	float:left;
	margin-right:10%;
	margin-bottom:%;
	border:40px solid;
	border-radius:60px;
	border-image: url(../border.svg);
	border-image-repeat:stretch;
	border-image-slice:350;
}

aside ul{
	padding-left:20%;
}

article{
	text-align:center;
	padding:30px;
}

/*Header Navigation Style Section*/

nav{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:50px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color:#333;
}

nav ul a{
	float:left;
}

nav ul a li{
	display: block;
	color:white;
	text-align:center;
	padding:14px 20px;
	text-decoration:none;
}
.active{
	background-color:rgb(0, 102, 0);
}

nav ul a li:hover{
	background-color:black;
}
#right{
	float:right;
}
.navicon{
	display:none;
}
}