 @charset"utf-8";
 
 @media only screen and (max-width: 480px){

html{
	width:100%;
	max-width: 480px;
}

body{
	width:100%;
	background-color:rgb(107, 88, 151);
	margin-left:auto;
	margin-right:auto;
}

header{
	background: url(../banner.png);
	min-width:481px;
	height:10%;
}

header h1{
	color:gold;
	font-family: 'Cinzel Decorative', cursive;
	font-size:150%;
	padding:4%;
}
article{
	font-size:0.9em;
	padding:2%;
	line-height:200%;
}
/*Navicon Styles Section*/
.navicon img{
	width:7.5%;
}

a.navicon {
	display: block;
}

nav ul {
	display: none;
}

a.navicon:hover+ul, nav ul:hover {
	display: block;
}
nav{
background-color:#333;
min-width:480px;
line-height:200%;
}
nav ul{
text-align:center;
height:128px;
}
nav ul a li{
	background-color:#333;
	min-width:320px;
	
}
nav ul li{
	color:white;
	min-width:480px;
}
.active{
	background-color:rgb(0, 102, 0);
}
}

