@charset"utf-8";

@media only screen and (min-width: 481px){
html{
	background:url(../dark_green.jpg) 100%/ cover;
}

body{
	background: rgb(107, 88, 151);
	margin-left:10%;
	margin-right:10%;
	margin-top:0px;
	margin-bottom:0px;
	box-shadow:inset 20px 0px 80px rgb(87,67,131),
						inset -20px -0px 80px rgb(87,67,131);
}
header{
	background: url(../banner.png);
	height:20%;
}

header h1{
	color:gold;
	font-family: 'Cinzel Decorative', cursive;
	font-size:400%;
	padding:4%;
}

article{
	padding:1%;
	font-size:200%;
	line-height:200%;
}
/*Header Navigation Style Section*/

nav{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:5.5%;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color:#333;
}

nav ul li{
	float:left;
}

nav ul li a{
	display: block;
	color:white;
	text-align:center;
	padding:14px 20px;
	text-decoration:none;
}
.active{
	background-color:rgb(0, 102, 0);
}

nav ul li a:hover{
	background-color:black;
}
}
@media only screen and (max-width: 480px){
html{
	width:100%;
}

body{
	width:100%;
}

header{
	background: url(../banner.png);
	min-width:480px;
	height:10%;
}

header h1{
	color:gold;
	font-family: 'Cinzel Decorative', cursive;
	font-size:150%;
	padding:4%;
}
}
